.product-card {
    position: relative;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.product-card img {
    width: 200px;
    transition: transform 0.3s ease;
}

.product-card:hover img {
    transform: scale(1.1);
    /* 이미지 확대 효과 */
}

.product-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    /* 반투명 배경 */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product-card:hover .overlay {
    opacity: 1;
}

.product-card .overlay .icon {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}