.weeklyItem {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    /* 가상 요소가 넘치는 부분 숨기기 */
}

.weeklyItem::before {
    content: '';
    background: linear-gradient(to bottom, #A50032, transparent);
    position: absolute;
    left: 0;
    top: 0;
    height: 70vh;
    /* 높이를 설정하여 그라데이션이 요소 전체에 적용되도록 함 */
    z-index: 0;
    width: 100%;
}

.weeklyItem h3 {
    position: relative;
    /* h1을 위에 위치시키기 위해 relative로 설정 */
    color: white;
    text-align: center;
    /* 가운데 정렬 */
    z-index: 1;
    /* ::before 가상 요소보다 위에 위치시키기 위해 z-index 설정 */
    margin: 0;
    /* 기본 마진 제거 */
    line-height: 20vh;
    /* 세로 가운데 정렬을 위한 예시 값, 필요에 따라 조정 */
}

.carousel-container {
    overflow: hidden;
    /* 스크롤을 방지 */
}

.item-slider {
    /* itemClass에 추가할 스타일 */
    padding: 0;
    /* 패딩을 제거 */
    margin: 0;
    /* 마진을 제거 */
}