@font-face {
    font-family: 'logo-font';
    src: url("../common/font/RubikDoodleShadow-Regular.ttf");
}

@font-face {
    font-family: 'main-font';
    src: url("../common/font/GowunBatang-Bold.ttf");
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 1em;
}

.logo-area {
    flex-grow: 1;
    text-align: center;
    font-family: 'logo-font';
    font-size: 2.5em;
    margin-right: -165px;
    cursor: pointer;
    margin-top: 0.05em;
}

.nav-right,
.nav-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}

.login-button,
.logout-button,
.mypage-button,
.shoppingCart-button,
.create-button,
.search-button {
    display: flex;
    justify-content: flex-end;
    margin: 7px;
    cursor: pointer;
}

.item-button,
.shopinfo-button,
.notice-button,
.qna-button,
.review-button {
    display: flex;
    justify-content: flex-start;
    margin: 7px;
    cursor: pointer;
}

.login-text,
.logout-text,
.mypage-text,
.shoppingCart-text,
.create-text,
.item-text,
.shopinfo-text,
.notice-text,
.qna-text,
.review-text {
    margin-left: 5px;
    font-size: 0.8em;
}

.search-icon {
    margin-left: 5px;
    margin-top: 5px;
}

.search-button {
    border-bottom: 1px solid black;
}

.search-bar {
    width: 100px;
    /* 가로 폭을 줄임 */
}

.text-box {
    border: none;
    /* 테두리를 없앰 */
    width: 100%;
    /* 서치바의 가로 폭에 맞게 조정 */
    outline: none;
    /* 포커스 시 생기는 기본 테두리 없애기 */
}


.login-text:hover,
.logout-text:hover,
.mypage-text:hover,
.shoppingCart-text:hover,
.create-text:hover,
.item-text:hover,
.shopinfo-text:hover,
.notice-text:hover,
.qna-text:hover,
.review-text:hover,
.tc-text:hover,
.g-text:hover,
.pp-text:hover {
    color: gray;
}

.footer-1,
.footer-3 {
    text-align: center;
}

.footer-1 {
    margin-top: 1em;
}

.footer-2 {
    text-align: center;
    padding: 2em;
}

.footer-4 {
    margin-top: 2em;
    padding: 1em;
}

.footer-4_1 {
    display: flex;
    justify-content: flex-start
}

.footer-4_2 {
    display: flex;
    justify-content: flex-end;
}

.main-footer {
    font-family: 'main-font';
}

.footer-logo {
    font-family: 'logo-font';
    font-size: 1.3em;
}

.tc-text,
.g-text {
    margin-right: 20px;
}

.git-icon {
    margin-right: 12px;
}

.cr-text,
.tc-text,
.g-text,
.pp-text {
    font-size: 0.9em;
    cursor: pointer;
}

.git-icon {
    font-size: 1.2em;
    cursor: pointer;
}